.footer {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    background-color: teal;
    color: white;
}

@media (max-width:515px) and (orientation:portrait) {
    .footer {
        font-size: 14px;
        padding: 10px;
    }
}