.tasksSection {
    display: grid;
    grid-template-areas: "title button--hide button--toggleDone" "list list list";
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
    background-color: white;
    margin-top: 20px;
}

.tasksSection__title {
    font-size: 22px;
    border-bottom: 1px solid var(--appGrayColor);
    padding: 15px;
    margin: 0;
    grid-area: title;
}

.tasksSection__button {
    background-color: transparent;
    color: teal;
    border: none;
    cursor: pointer;
}

.tasksSection__button:hover {
    color: #009999;
}

.tasksSection__button--hide {
    grid-area: button--hide;
}

.tasksSection__button--toggleDone {
    grid-area: button--toggleDone;
    margin-right: 15px;
}

.tasksSection__button:disabled{
    color: gray;
    cursor: default;
}

.tasksSection__list {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    grid-area: list;
}

.tasksSection__listItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--appGrayColor)
}

.tasksSection__listItem--hidden{
    display:none;
}

.tasksSection__listItemButton {
    flex-basis: 30px;
    flex-shrink: 0;
    height: 30px;
    padding: 3px;
    border: none;
    cursor: pointer;
    color: white;
    transition: background-color 0.15s;
}

.tasksSection__listItemButton--delete {
    background-color: red;
    font-weight: 700;
}

.tasksSection__listItemButton--done {
    background-color: green;
}

.tasksSection__listItemButton--delete:hover {
    background-color: hsl(0, 100%, 65%);
}

.tasksSection__listItemButton--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasksSection__listItemText {
    flex-grow: 1;
    margin: 20px 10px;
}

.tasksSection__listItemText--done {
    text-decoration: line-through;
}

@media (max-width:515px) and (orientation:portrait) {
    .tasksSection__title {
        text-align: center;
    }

    .tasksSection {
        grid-template-areas: "title" "button--hide" "button--toggleDone" "list";
        grid-template-columns: 1fr;
    }
    .tasksSection__button--toggleDone {
        margin: 0;
    }
}